h1{
    background: rgb(224, 141, 153);
}
#name{
    background: rgb(93, 93, 166);
}
#Marital status{
    background: rgb(93, 93, 166);
}
select{
    background: rgb(93, 93, 166);
}
#male{
    background:rgb(93, 93, 166);
}
form{
    background-color: azure;
}