h1{
    background: rgb(224, 141, 153);

}
/* #name{
    background: rgb(93, 93, 166);
}
#Marital status{
    background: rgb(93, 93, 166);
}
select{
    background: rgb(93, 93, 166);
}
#male{
    background:rgb(93, 93, 166);
} */
form{
    background-color: azure;
}
.xyz{
    border: 3px solid rgb(175, 35, 56);
}
.tbs{
    border: 2px solid rgb(175, 35, 56);
}

.tra{
    background: rgb(224, 141, 153);
    
   

}
.trb{
    background: red;
    font-style: italic;
    font-size: 10px;
}