body{
    margin: 0;
    padding: 0;
}
.bdy{
    border: 3px solid black;
    margin: 10px ;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    background: lightpink;
    

}
.img{
    width: 99%;
    height: 50%;
    border: 3px solid blueviolet;
    border-radius: 8px;
}
.img img{
    width: 100%;
    height: 100%;
}
.line{
    border: 2px solid black;
    width: 90%;
    border-radius: 10px 10px 10px 10px;;
    background: rgb(186, 146, 146);
    font-size: large;
   
}
.by{

   font-style: italic;
   text-align: right;
   text-decoration: underline;
}