h2{

    background: lightsalmon;
    font-style: italic;
    font-size: x-large;
}
form{

    background: lightskyblue;
}
#id{

    background: lightskyblue;
}
h1{

    background: lightcoral;
}
pre{

    background: rgb(193, 115, 115);
}
button{

    background: #fafafa;
}
h3{

    background: #8c6a3a;
}
img{

    width: 100px;
}