.box{
    width: 300px;
    height: 300px;
    background-color: lightcoral;
    border: 3px solid green;
   overflow: scroll ;
   overflow-x: hidden;

}
.inbox{

    width: 200px;
    height: 200px;
    background-color: aqua;
    border: 4px solid black;
    overflow: scroll;
}