* {
  margin: 0;
  padding: 0;
}
.cont{
   width: 100%;
   justify-content: space-between;

}

.navbar {
  background: gray;
  box-sizing: border-box;
  position: sticky;
  z-index: 1000;
  top: 0;
  
}
.navbar-wapper {
  display: flex;
  background: rgb(89, 89, 232);

  align-items: center;
  justify-content: space-between;
padding: 0px 70px 0px 70px ;
}
.logo {
  width: 50px;
  height: 50px;
  padding: 10px;
}
.navbar-link {
  gap: 30px;
  list-style: none;
  display: flex;
  margin-right: 20px;
}
.navbar-link a {
  text-decoration: none;
  color: bisque;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  position: relative;
}

.navbar-link a::after {
  background: white;
  content: " ";
  width: 0px;
  height: 2px;
  position: absolute;
  left: 0;
  transition: 0.3s;
  bottom: -5px;
}
.navbar-link a:hover::after {
  width: 100%;
}

.navbar-link a:hover {
  color: black;
}
/* home */
.navbar-home {
  border: 2px solid black;
  height: 100vh;
 padding: 0px 70px 0px 70px ;
  scroll-margin-top: 70px;
  text-align: center;
  background-image: url("../images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #18ebd9;

}
.home-header {
  margin-top: 5%;
}

.navbar-home-header {
  margin-top: 15%;
}

.home-btn {
  margin-top: 50px;
  padding: 10px;
  border: 2px solid rgb(244, 93, 93);
  border-radius: 10px;
  box-shadow: 3px 3px rgb(253, 206, 206);
  background: linear-gradient(rgb(235, 95, 95), rgb(219, 213, 213), green);
  transition: 1s;
}

.home-btn:hover {
  background: orange;
  transition: 5s;
}

/* About Section */
.navbar-about {
 
  min-height: fit-content;
  padding: 10px 80px 20px 80px;
  background: rgb(244, 218, 222);
  scroll-margin-top: 70px;
  /* margin-bottom: 5%; */
  justify-content: center;
  text-align: center;
}

/* Card Container */
.about-cont-crd {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; 
  justify-content: center;
  margin-top: 20px;
}

/* Individual Card */
.about-card {
  background: #b3efea;
  width: 280px;
  border: 2px solid gray;
  box-shadow: 8px 8px 5px 5px rgb(157, 156, 156);
  border-radius: 10px;
  /* padding: 10px; */
  text-align: center;
}

/* Image Container */
.navbar-crd {
  width: 100%;
  height: 150px;
  border: 2px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(202, 144, 153);
  border-radius: 7px 7px 15px 50px;
}

.img2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


.para {
  margin-top: 10px;
}

.para h2 {
  margin: 5px 0;
}

.para p {
  font-size: 14px;
}
.btm{
    padding: 5px;
    margin: 3px;
  background-color: rgb(193, 190, 190);
  border-radius: 10px;
  border-color: rgb(139, 138, 138);
  box-shadow: 1px 1px 1px 1px ;
  
}
.btm:hover{
   
  transition:0.5s;
 background-color:rgb(216, 194, 137) ; 
}














/* service */
.navbar-service {
  border: 2px solid black;
  width: auto;
  height: 100vh;
  background: aquamarine;
  font-size: smaller;
  scroll-margin-top: 70px;
padding: 0px 90px 0px 70px;

  text-align: center;
  /* justify-content: center; */
}
.service-box{
  display: flex;
  gap: 10px;
 
   
  
}
.service-cont-card{
  width: 300px;
  height: 300px;
  border: 2px solid rgb(94, 93, 93);
  margin-top: 10px;
  background-color: rgb(192, 212, 248);
  border-radius: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.service-cont-card:hover{

  
  border: 2px solid rgb(8, 1, 1);
  margin-top: 10px;
  background-color: rgb(205, 218, 243);
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px rgb(102, 101, 101);
}
.service-img{

   height:50%;
   border-radius: 20px;
}
img{
  height: 100px;
  width: auto;
  border-radius: 80px;
}
.btn2{
  margin-top: 30px;
  background-color: rgb(181, 211, 151);
  border-radius: 10px;
  height: 30px;
  width: 100px;
}
.btn2:hover{
  margin-top: 30px;
  background-color: rgb(181, 211, 151);
  border-radius: 10px;
  background-color: aqua;
  cursor:pointer;
}









/* team */
.navbar-team {
  width: auto;
  scroll-margin-top: 70px;
  font-size:large;
  height: 100vh;
padding: 0px 70px 0px 80px;

  background: rgb(244, 218, 222);
}
.team-box{
  display: flex;
  margin-top: 10px;
 justify-items: center;
 gap: 10px;
}
.team-cont-card{
  width: 250px;
  height: 300px;
  border: 2px solid rgb(41, 40, 40);
  background-color: #b3efea;
  text-align: center;
  
}
.team-img{
  width: auto;
  height: 150px;
  background-color: rgb(251, 226, 195);
  border-radius: 0px 0px 0px 50px;
  border: 2px solid rgb(163, 157, 141);
}
img{
  height: 130px;
  width: 200px;
 justify-items: center;
}
.team-para{
  margin-top: 10px;
  font-weight: bold;
  font-style: italic;
}
.head{
  text-decoration: underline;
  font-weight:bolder;
  font-style: italic;
}
.team-btn{
  margin-top: 10px;
  background-color: rgb(124, 124, 164);
  border-radius: 10px;
}
.team-btn:hover{
  margin-top: 10px;
  background-color: rgb(89, 89, 114);
  background-color: blue;
  transition: 6s;
  cursor: pointer;
}








/* contact */
.navbar-contact {
   width: 100%;
   height: 100hv;
   border: 2px solid black;
   justify-content: center;
  background-image: url(../images/wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contact-cont{
color: antiquewhite;
 text-align: center;
 margin-top: 10px;
}
.contact-head{
  font-size: 40px;
  text-decoration: underline;
}
.contact-cont-card{
  margin-top: 40PX;
  width: 300PX;
  height:400PX;
  /* border: 2PX solid rgb(33, 32, 32); */
}

img{
  height: 70px;
  width: 70px;
}
.contact-para{
  color: aliceblue;
  /* text-align: right; */
}
