/* section first */

.con{
    background-color: aqua;
}

.hello{
    background: yellowgreen;
}
.hi{
    background: red;
}

#ram{
    background: yellow;
}
#rm{

    background: blue;
}
.aaaaaa{

    background-color: blueviolet;
}